{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8 ">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'reports:home'%}">Quality Web App</a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'reports:home'%}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled text-info"><small>{{current_date}}</small></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>



    <form class="form-control-lg mt-5" action="{% url 'reports:add_report' %}" method="POST">
        {% csrf_token %}
        <div>
            <div class="form-control">
                <div class="row ">

                    <div class="col-sm-4 col-lg">
                        {{form.notes}}
                    </div>
                    <div class="btn align-items-center">
                        <button class="btn btn-outline-primary" type="submit" name='btnsubmit'>Submit</button>
                    </div>
                </div>
                

    </form>

    </form>

    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>